
body {font-family:'Avanti',Arial
}
button {margin:15px;
background-color:#ffffff;
border:1px solid #ef631c;
border-radius:5px;
width:220px;
height:90px;
color:#ef631c;
font-size:19px;
font-family:'Avanti';

}
button:hover {margin:15px;
background-color:#ef631c;
border:0px;
border-radius:5px;
width:220px;
height:90px;
color:#ffffff;
font-size:19px;
font-famili:'Avanti';
}
.text{
  font-size: 16px;
}
img{
    border:1px solid #ef631c;
    border-radius: 7px;
}
.green{
    color:#89d64f;
}
.red{
    color:#e8431e;
}
ul{
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 60px; /*убираем левый отступ, равный 40px*/
    display: flex;
    background:#ef631c;
}
li{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px
}
li:hover{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px
    color:#ffffff;
}

li a{
    text-decoration: none;
    color:rgb(232, 187, 171);
}
li a:hover{
    text-decoration: none;
    color:#ffffff;
}
